.navbar-brand{
  padding: 0 20px 0 0;
}


/*------------FOOTER----------*/

/* Divider line above footer */
.footer hr{
  width: 100%;
  margin-top: 0;
  margin-bottom: 10px;
}

.footer {
  color: #344253;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color:#FFFFFF ;
}

body {
  position: relative;
  width: 100%;
  min-height: auto;
  text-align: center;
  color: #344253;
}

.navbar-default {
  color: rgba(52,66,83,.7);
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  color: #344253;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  color: #344253;
}

.dropdown-header {
  color: rgba(52,66,83,.7);
}

.dropdown-menu{
  font-size: 11px;
  font-weight: 300;
  color: rgba(52,66,83,.7);
}

.colonne_gauche{
  width:66%;
}

.colonne_droite{
  width:34%;
}


#en_tete_cv {
  position: relative;
  left: 0.55in;
  margin: auto 0.55in 0.3in auto;
  line-height: 1.2;
  text-align: justify;
}

#en_tete_cv h1 {
  font-size: 1.8rem;
  line-height: 1.5;
  font-weight: 800;
}

#en_tete_cv h2 {
  font-size: 1.3rem;
  line-height: 1.5;
  font-weight: 600;
}

#en_tete_cv h3 {
  font-size: 1.3rem;
  line-height: 1.2;
  font-style: italic;
  font-weight: 600;
}

h1, h2 {
  text-transform: uppercase;
}

#description_cv{
    position: relative;
  left: 0.55in;
  margin: auto 0.55in 0.3in auto;
  text-align: justify;
}

#description_cv h1 {
  font-size: 1.8rem;
  line-height: 1.5;
  font-weight: 600;
}

#description_cv h2 {
  font-size: 1.3rem;
  line-height: 1.5;
    font-weight: 600;
}

#description_cv h3 {
  font-size: 1.4rem;
  line-height: 1.5;
  font-style: italic;
  font-weight: 600;
}

.colonne_droite ul{
  text-align: left;
  list-style: none;
}

.button{
  background-color: #e0544e;
  border-color: #e0544e;
  border-radius: 300px;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 20px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  text-transform: uppercase;
    color: #fff;
    right: 0;
position: absolute;
}

.button:hover, .button:focus, .button.focus, .button:active, .button.active, .open > .dropdown-toggle.button {
  border-color: #ed431f;
  color: #fff;
  background-color: #ca2f27;
}

.colonne_gauche ul{
  text-align: left;
  list-style: none;
  padding-left: 1em;
}

.colonne_gauche ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #ed431f; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}



.references ul{
  text-align: left;
  list-style: none;
  padding-left: 1em;
}


.references ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #ed431f; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

