
.references .location{
  display: none;
}

body, h1, h2, h3, h4, h5, h6, p, span, i, [data-id="main"] h2 > i,[data-id="main"] h2{
  color:#344253;
}

.decorator::after{
  background-color:#344253;
}

.pagedjs_pages .pagedjs_page:not(:first-child) {
  --sidebar-width: 0rem;
  --sidebar-background-color: #ffffff;
  --main-width: calc(var(--content-width) - var(--sidebar-width));
  --decorator-horizontal-margin: 0.2in;
  --pagedjs-margin-left: 0in;
  --pagedjs-margin-right: 0in !important;
  --pagedjs-margin-left: 0in !important;
  --pagedjs-margin-top: 0.5in !important;
  --pagedjs-margin-bottom: 0.5in !important;
}

.experience h3{
    margin-bottom: 0.2em;
}