.navbar-brand{
  padding: 0 20px 0 0;
}

#header {
  display: none;
}


/*------------FOOTER----------*/

/* Divider line above footer */
.footer hr{
  width: 100%;
  margin-top: 0;
  margin-bottom: 10px;
}

.footer {
  color: #344253;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

body {
  position: relative;
  width: 100%;
  min-height: auto;
  text-align: center;
  color: #344253;
}

.navbar-default {
  color: rgba(52,66,83,.7);
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  color: #344253;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  color: #344253;
}

.dropdown-header {
  color: rgba(52,66,83,.7);
}

.dropdown-menu{
  font-size: 11px;
  font-weight: 300;
  color: rgba(52,66,83,.7);
}

/*=================================================================
  Our Team
==================================================================*/
.team-member {
background-color: #202F42;
margin: 28px auto 39px;
width: 33%;
  
}

.team-member:hover  .mask {
  cursor: pointer;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: rotateY(0deg) scale(1, 1);
  transform: rotateY(0deg) scale(1, 1);
}

.member-photo {
  overflow: hidden;
  position: relative;
}

@media (max-width: 768px) {
  .member-photo {
    text-align: center;
  }
}

.member-photo:hover img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.member-photo img {
  transition: all 0.4s ease 0s;
}

@media (max-width: 768px) {
  .member-photo img {
    display: inline-block;
  }
}

.member-photo .mask {
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  text-align: center;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  transition: all .5s ease-out 0s;
  -webkit-transform: rotateY(180deg) scale(0.5, 0.5);
  transform: rotateY(180deg) scale(0.5, 0.5);
  display: table;
}

.member-photo .mask a {
  display: table-cell;
  vertical-align: middle;
  font-size: 25px;
  font-weight: 700;
  color: #344253;
}

.member-photo .mask ul {
  text-align: center;
  position: relative;
  top: 125px;
}

.member-photo .mask ul li a {
  border: 1px solid #fff;
  color: #344253;
  display: block;
  font-size: 20px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  width: 35px;
  text-decoration:none;
}

.member-photo .mask ul li a:hover {
  background-color: #fff;
  color: #1b98b5;
  border: 1px solid transparent;
}

.member-meta {
  padding: 15px;
  text-shadow: none;
  color: #fff;
  background: #344253;
}

.member-meta h4 {
  margin: 0 0 5px;
}

.member-meta span {
  font-size: 12px;
}

.list-inline-item a{
  color:#e0544e;
}

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?rg67gi');
  src:  url('fonts/icomoon.eot?rg67gi#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?rg67gi') format('truetype'),
    url('fonts/icomoon.woff?rg67gi') format('woff'),
    url('fonts/icomoon.svg?rg67gi#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Crealead:before {
  content: "\e900";
}

/*fiche_lab*/

.fiche_lab hr, .page_site hr{
  max-width: 50px;
  border-color: #e0544e;
  border-width: 3px;
}

.fiche_lab ul{
  text-align: left;
  padding-left: 1em;
  margin-left: 10em;
}

.fiche_lab .button {
  background-color: #e0544e;
  border-color: #e0544e;
  border-radius: 300px;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  text-transform: uppercase;
  color: #fff;
}

.fiche_lab .button:hover, .fiche_lab .button:focus, .fiche_lab .button.focus, .fiche_lab .button:active, .fiche_lab .button.active, .fiche_lab .open > .dropdown-toggle.button {
  border-color: #ed431f;
  color: #fff;
  background-color: #ca2f27;
}

.fiche_lab ul li strong{
  color:#e0544e;
}

@media (min-width: 992px)
.service-box {
  margin: 20px auto 0;
}

.service-box {
  margin: 50px auto 0;
  max-width: 400px;
}

.text-primary {
  color: #e0544e;
}


.page_site h1, .page_site h2,.page_site  h3,.page_site  h4,.page_site  h5,.page_site  h6 {
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

.page_site h3{
 box-sizing: border-box;
color: rgb(52, 66, 83);
font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
font-size: 20px;
font-weight: 500;
line-height: 26.4px;
margin-bottom: 10px;
margin-top: 20px !important;
text-align: center;
padding-top: 0px !important;
 
}

.page_site .text-muted{
  margin-bottom: 0;
  text-align: justify;
}

.page_site ul{
  text-align: left;
  list-style: none;
  padding-left: 1em;
}

.page_site ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #ed431f; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}


.references ul li::before {
  width: 0.7em; /* Also needed for space (tweak if needed) */
}

.colonne_gauche_cv ul{
  text-align: left;
  list-style: none;
  padding-left: 1em;
}

.colonne_gauche_cv ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #ed431f; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}



.references_cv ul{
  text-align: left;
  list-style: none;
  padding-left: 1em;
}


.references_cv ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #ed431f; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

#description_cv{
    position: relative;
  left: 0.55in;
  margin: auto 0.55in 0.3in auto;
  text-align: justify;
}

#description_cv h1 {
  font-size: 1.8rem;
  line-height: 1.5;
  font-weight: 600;
}

#description_cv h2 {
  font-size: 1.3rem;
  line-height: 1.5;
    font-weight: 600;
}

#description_cv h3 {
  font-size: 1.4rem;
  line-height: 1.5;
  font-style: italic;
  font-weight: 600;
}

.colonne_droite_cv ul{
  text-align: left;
  list-style: none;
}

.colonne_gauche_cv{
  width:66%;
}

.colonne_droite_cv{
  width:34%;
}

#en_tete_cv .button{
  background-color: #e0544e;
  border-color: #e0544e;
  border-radius: 300px;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 20px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  text-transform: uppercase;
    color: #fff;
    right: 0;
position: absolute;
}

#en_tete_cv {
  position: relative;
  left: 0.55in;
  margin: auto 0.55in 0.3in auto;
  line-height: 1.2;
  text-align: justify;
}

#en_tete_cv h1 {
  font-size: 1.8rem;
  line-height: 1.5;
  font-weight: 800;
  text-transform: uppercase;
}

#en_tete_cv h2 {
  font-size: 1.3rem;
  line-height: 1.5;
  font-weight: 600;
  text-transform: uppercase;
}

#en_tete_cv h3 {
  font-size: 1.3rem;
  line-height: 1.2;
  font-style: italic;
  font-weight: 600;
}

/*
.level1{
  margin-top: 100px;
}
*/